<?xml version="1.0"?>

<config>
    <modules>
        <Webinse_DailyDeals>
            <version>2.2.0</version>
        </Webinse_DailyDeals>
    </modules>
    <global>
        <helpers>
            <dailydeals>
                <class>Webinse_DailyDeals_Helper</class>
            </dailydeals>
        </helpers>
        <blocks>
            <dailydeals>
                <class>Webinse_DailyDeals_Block</class>
            </dailydeals>
        </blocks>
        <models>
            <dailydeals>
                <class>Webinse_DailyDeals_Model</class>
                <resourceModel>dailydeals_resource</resourceModel>
            </dailydeals>
            <dailydeals_resource>
                <class>Webinse_DailyDeals_Model_Resource</class>
                <deprecatedNode>dailydeals_mysql4</deprecatedNode>
                <entities>
                    <statuses>
                        <table>deals_statuses</table>
                    </statuses>
                </entities>
            </dailydeals_resource>
        </models>
        <resources>
            <dailydeals_setup>
                <setup>
                    <module>Webinse_DailyDeals</module>
                    <class>Webinse_DailyDeals_Model_Resource_Setup</class>
                </setup>
            </dailydeals_setup>
        </resources>
        <events>
            <catalog_product_edit_form_render_recurring>
                <observers>
                    <dailydeals_catalog_product_edit_form_render_recurring>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>catalogProductEditFormRenderRecurring</method>
                    </dailydeals_catalog_product_edit_form_render_recurring>
                </observers>
            </catalog_product_edit_form_render_recurring>
            <controller_action_predispatch_adminhtml_catalog_product_edit>
                <observers>
                    <dailydeals_catalog_product_edit_form_update_deals_statuses>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>updateDealsStatuses</method>
                    </dailydeals_catalog_product_edit_form_update_deals_statuses>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_edit>
            <controller_action_predispatch_adminhtml_catalog_product_index>
                <observers>
                    <dailydeals_catalog_product_index_form_update_deals_statuses>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>updateDealsStatuses</method>
                    </dailydeals_catalog_product_index_form_update_deals_statuses>
                </observers>
            </controller_action_predispatch_adminhtml_catalog_product_index>
            <!--change start-->
            <catalog_block_product_list_collection>
                <observers>
                    <dailydeals_catalog_product_edit_form_update_deals_statuses>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>updateDealsStatuses</method>
                    </dailydeals_catalog_product_edit_form_update_deals_statuses>
                </observers>
            </catalog_block_product_list_collection>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <dailydeals_catalog_product_edit_form_update_deals_statuses>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>updateDealsStatuses</method>
                    </dailydeals_catalog_product_edit_form_update_deals_statuses>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <checkout_cart_product_add_after>
                <observers>
                    <dailydeals_catalog_product_edit_form_update_deals_statuses>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>updateDealsStatuses</method>
                    </dailydeals_catalog_product_edit_form_update_deals_statuses>
                </observers>
            </checkout_cart_product_add_after>
            <!--change end-->
            <catalog_product_save_before>
                <observers>
                    <dailydeals_catalog_product_save_before>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>catalogProductSaveBefore</method>
                    </dailydeals_catalog_product_save_before>
                </observers>
            </catalog_product_save_before>
            <catalog_block_product_list_collection>
                <observers>
                    <dailydeals_catalog_block_product_list_collection>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>catalogBlockProductListCollection</method>
                    </dailydeals_catalog_block_product_list_collection>
                </observers>
            </catalog_block_product_list_collection>
            <sales_order_place_after>
                <observers>
                    <dailydeals_sales_order_place_after>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </dailydeals_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_item_cancel>
                <observers>
                    <dailydeals_sales_order_item_cancel>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>salesOrderItemCancel</method>
                    </dailydeals_sales_order_item_cancel>
                </observers>
            </sales_order_item_cancel>
            <checkout_cart_save_before>
                <observers>
                    <dailydeals_checkout_cart_save_before>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>checkoutCartSaveBefore</method>
                    </dailydeals_checkout_cart_save_before>
                </observers>
            </checkout_cart_save_before>
            <sales_order_creditmemo_refund>
                <observers>
                    <dailydeals_sales_order_creditmemo_refund>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </dailydeals_sales_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_refund>
            <core_block_abstract_to_html_before>
                <observers>
                    <dailydeals_core_block_abstract_to_html_before>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </dailydeals_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_category_prepare_save>
                <observers>
                    <dailydeals_catalog_category_prepare_save>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>catalogCategoryPrepareSave</method>
                    </dailydeals_catalog_category_prepare_save>
                </observers>
            </catalog_category_prepare_save>
        </events>
    </global>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <deal_price/>
                    <deal_start_time/>
                    <deal_end_time/>
                    <deal_qty/>
                    <deal_bought/>
                    <deal_status/>
                    <deal_statuses/>
                    <old_special_price/>
                    <old_special_date_from/>
                    <old_special_date_to/>
                </attributes>
            </collection>
        </product>
        <routers>
            <dailydeals>
                <use>standard</use>
                <args>
                    <module>Webinse_DailyDeals</module>
                    <frontName>dailydeals</frontName>
                </args>
            </dailydeals>
        </routers>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals.xml</file>
                </dailydeals>
            </updates>
        </layout>
        <translate>
            <modules>
                <Webinse_DailyDeals>
                    <files>
                        <default>Webinse_DailyDeals.csv</default>
                    </files>
                </Webinse_DailyDeals>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dailydeals before="Mage_Adminhtml">Webinse_DailyDeals_Adminhtml</dailydeals>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals.xml</file>
                </dailydeals>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dailydeals>
            <dailydeals_group>
                <product_select>1</product_select>
                <show_deals_status>1</show_deals_status>
                <category_select>1</category_select>
                <color_select>2E82FF</color_select>
                <color_select_mini>2E82FF</color_select_mini>
                <width_on_category_page_grid>150</width_on_category_page_grid>
                <height_on_category_page_grid>30</height_on_category_page_grid>
                <width_on_category_page_list>150</width_on_category_page_list>
                <height_on_category_page_list>30</height_on_category_page_list>
                <width_on_product_page>250</width_on_product_page>
                <height_on_product_page>50</height_on_product_page>
                <!---->
                <show_deals_link>1</show_deals_link>
                <label_deals_link>Deals</label_deals_link>
                <!---->
                <show_deals_information>1</show_deals_information>
                <show_save_label>1</show_save_label>
                <show_items_bought_label>1</show_items_bought_label>
                <show_items_left_label>1</show_items_left_label>
                <!---->
                <save_label>You Save</save_label>
                <items_bought_label>Items Bought</items_bought_label>
                <items_Left_label>Items Left</items_Left_label>
                <!---->
                <general_seconds>SECONDS</general_seconds>
                <general_minutes>MINUTES</general_minutes>
                <general_hours>HOURS</general_hours>
                <general_days>DAYS</general_days>
                <!--layout-->
                <layout>page/3columns.phtml</layout>
            </dailydeals_group>
            <deals_widget>
                <widget_items>2</widget_items>
                <widget_border_px>1</widget_border_px>
                <widget_border_style>solid</widget_border_style>
                <widget_border_color>FFFFFF</widget_border_color>
                <widget_countdown_color>2E8AB8</widget_countdown_color>
                <width_widget>180</width_widget>
                <height_widget>40</height_widget>
                <hide_line_on_countdown_widget>1</hide_line_on_countdown_widget>
            </deals_widget>
            <deals_product_page>
                <product_page_countdown_select>1</product_page_countdown_select>
                <product_page_countdown_color>333</product_page_countdown_color>
                <width_product_page_countdown>300</width_product_page_countdown>
                <height_product_page_countdown>50</height_product_page_countdown>
                <hide_line_on_countdown_product_page_countdown>1</hide_line_on_countdown_product_page_countdown>
                <product_page_countdown_label_color>333</product_page_countdown_label_color>
                <product_page_countdown_label_weight>normal</product_page_countdown_label_weight>
            </deals_product_page>
            <deals_category_page>
                <category_page_countdown_select>1</category_page_countdown_select>
                <show_on_search>1</show_on_search>
                <category_page_countdown_color>2E8AB8</category_page_countdown_color>
                <width_category_page_grid>180</width_category_page_grid>
                <height_category_page_grid>30</height_category_page_grid>
                <width_category_page_list>120</width_category_page_list>
                <height_category_page_list>25</height_category_page_list>
                <hide_line_on_countdown_category_page>1</hide_line_on_countdown_category_page>
            </deals_category_page>
        </dailydeals>
    </default>
    <crontab>
        <jobs>
            <deals_product_update>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dailydeals/cron::updateDealProduct</model>
                </run>
            </deals_product_update>
        </jobs>
    </crontab>
</config>